<h2> Log In </h2>

<%= flash[:notice] %>


<form action="/session" method="post">
  <label for="user_name"> Name: </label>
  <input type="text" name="user[name]" id="user_name">
  <label for="user_password"> Name: </label>
  <input type="text" name="user[password]" id="user_password">
  <button type="submit">Log In</button>
</form>

<br>
<p> <%= link_to "Register to enjoy all the fun!!!!", new_user_path %> </p>
